{% extends "logedin_layout.html" %}

{% block user %}
    <button class="btn btn-light" id="btn-circle" title="{{ user }}">{{ user[0] }}</button>
{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <h2 style="padding-bottom: 2rem;">Top 10 reviews of this site:</h2>
        {% for i in range(books_list|length) %}
            {%if i % 3 == 0 %}
                <div class="row hidden-md-up">
            {% endif %}
                    <div class="col-md-4" onClick="location.href='/book/1/{{ books_list[i][4] }}';">
                        <div class="card text-white bg-dark mb-3" id="link-card" style="max-width: 18rem;">
                            <div class="card-header">
                                <h5 class="card-title">{{ books_list[i][1] }}</h5>
                                <p class="card-text"><i>written by {{ books_list[i][2] }}</i></p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Published in {{ books_list[i][3] }}
                                    <br>
                                    ISBN: {{ books_list[i][0] }}
                                    <br>
                                    Reviews: {{ books_list[i][5] }}
                                </p>
                            </div>
                        </div>
                    </div>
            {%if i % 3 == 2 or i == books_list|length - 1 %}
                </div><br>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}